.headerMobile_container_parent {
    height: 2em;
    padding-top: 1rem;
    box-shadow: 0px 2px 5px 0px rgba(203, 203, 216, 0.2);
}

.headerMobile_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
}

.logoMobile {
    font-size: larger;
    color: #00ff4e;
}

@media screen and (min-width:900px) {
    .headerMobile_container_parent {
        display: none;
        visibility: hidden;
    }
}